<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="watchlist">
      <ion-icon name="tv"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies">
      <ion-icon name="film"></ion-icon>
      <ion-label>My Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv">
      <ion-icon name="expand"></ion-icon>
      <ion-label>My Shows</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon name="glasses"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
