<ion-header>
    <ion-toolbar>
        <ion-title>Discover</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item-divider>
        <ion-label>
            Trending
        </ion-label>
    </ion-item-divider>
    <app-scrollmedia [preloaderGif]="data.preloaderGif" [images$]="images$" [items]="trending$ | async"></app-scrollmedia>
    <ion-item-divider>
        <ion-label>
            Popular
        </ion-label>
    </ion-item-divider>
    <app-scrollmedia [preloaderGif]="data.preloaderGif" [images$]="images$" [items]="popular$ | async"></app-scrollmedia>
    <ion-item-divider>
        <ion-label>
            Most Played
        </ion-label>
    </ion-item-divider>
    <app-scrollmedia [preloaderGif]="data.preloaderGif" [images$]="images$" [items]="played$ | async"></app-scrollmedia>
    <ion-item-divider>
        <ion-label>
            Most Anticipated
        </ion-label>
    </ion-item-divider>
    <app-scrollmedia [preloaderGif]="data.preloaderGif" [images$]="images$" [items]="anticipated$ | async"></app-scrollmedia>
</ion-content>
