<ion-header>
    <ion-toolbar>
        <ion-title>Discover</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list-header>
        <ion-label>Trending</ion-label>
    </ion-list-header>
    <app-scrollmedia [images]="images" [media$]="trending$"></app-scrollmedia>
    <ion-list-header>
        <ion-label>Popular</ion-label>
    </ion-list-header>
    <app-scrollmedia [images]="images" [media$]="popular$"></app-scrollmedia>
</ion-content>
